header{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    max-width: 1200px;
    nav{
        width: 325px;
        justify-content: space-between;
        font-size: 1rem;
        font-weight: 500;
        text-transform: uppercase;
        display: none;
        a{
            color: rgb(54, 54, 54);
            &.active{
                color: #0D8784;
            }
            &:hover{
                border-bottom: 2px solid #0D8784;
            }
        }
    }
    .menu-icon{
        width: 20px;
    }
    @media (min-width: 750px) {
        nav{
            display: flex;
        }
        .menu-icon{
            display: none;
        }
    }
}
.MenuNav{
    background: #333D4B;
    position: fixed;
    width: 100%;
    z-index: 1000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    transition: all 1s ease;
    transform: translateY(-250px); 
    a{
        font-size: 1.1rem;
        font-weight: 500;
        letter-spacing: 2px;
        margin-bottom: 10px;
        text-transform: uppercase;
        color: rgb(196, 196, 196);
        &.active{
            color: #0D8784;
        }
    }
    &.active{
        transform: translateY(0px);
    }
}