<header>
    <a routerLink='/home' >
        <img src='./assets/images/shared/logo.svg' alt='Logo'/>
    </a> 
    <nav>
        <a 
        routerLink='/home' 
        routerLinkActive='active'>Home</a>
        <a 
        routerLink='aboutUs' 
        routerLinkActive='active'>About Us</a>
        <a routerLink='createYourPlan' routerLinkActive='active'>Create your Plan</a>
    </nav>
    <img 
    (click)='clickMenu()'
    class="menu-icon"
    src='./assets/images/shared/bars-solid.svg' alt='Menu'/>
</header>
<div class="MenuNav" [class.active]='Menu'>
    <a routerLink='/home' routerLinkActive='active' (click)='closeMenu()'>Home</a>
    <a routerLink='aboutUs' routerLinkActive='active' (click)='closeMenu()'>About Us</a>
    <a routerLink='createYourPlan' routerLinkActive='active' (click)='closeMenu()'>Create your Plan</a>
</div>