div{
    text-align: center;
    margin: 40px 15px 60px 15px;
    img{
        width: 100px;
    }
    h3{
        margin-block: 10px;
        font-size: 1.6rem;
        letter-spacing: 2px;
    }
    p{
        margin-block: 8px;
        font-size: 1.2rem;
    }
}