section{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-block: 40px;
    h2{
        text-align: center;
        font-size: 2.5rem;
        color: #83888E;
    }
    app-arrow-container{
      width: 90%;
    }
    a{
        background: #65D2CF;
        padding: 10px 15px;
        font-size: 1rem;
        color: white;
        border-radius: 5px;
        box-shadow: 7px 6px 20px 1px rgba(0, 0, 0, 0.1);
        background: #0E8784;;
    }
    .Elements{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        @media (min-width: 1000px) {
            margin-top: 60px;
          }
    }
    @media (min-width: 1300px){
        a{
            margin-block: 40px;
        }
    }
}
