<footer>
    <div class="FooterContainer">
    <img 
    class="Logo"
    src='./assets/images/shared/logoLigth.svg' 
    alt='Logo Footer'/>
    <div class="MenuNav">
        <a routerLink='home' routerLinkActive='active'>Home</a>
        <a routerLink='aboutUs' routerLinkActive='active'>About Us</a>
        <a routerLink='createYourPlan' routerLinkActive='active'>Create your Plan</a>
    </div>
    <div class="Social">
        <a to=''>
            <img src='./assets/images/shared/icon-facebook.svg' alt='Facebook'/>
        </a>
        <a to=''>
            <img src='./assets/images/shared/icon-instagram.svg' alt='Facebook'/>
        </a>
        <a to=''>
            <img src='./assets/images/shared/icon-twitter.svg' alt='Facebook'/>
        </a>
    </div>
    </div>
</footer>
